.listCustom {
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
    }


    .traitOrangeFin {
        border-top : 1px solid #f9c7a180;
        margin-top : 10px;
    }