   <!-----------Cette section se compose de deux colonnes une pour les articles et l autre de presentation-->
   <div class="row mt-5">
    <div class="col-md-12 txt-center">
            <h1>Coronavirus</h1>
            <div class="traitOrange"></div>        
    </div>
    <div class="col-md-8 offset-md-2 txt-justify mt-5 "> 
     <p>Les Coronavirus sont une grande famille de virus, qui provoquent des maladies allant d’un simple rhume (certains virus saisonniers sont des Coronavirus) à des pathologies plus sévères comme le MERS-COV ou le SRAS.

        Le virus identifié en janvier 2020 en Chine est un nouveau Coronavirus. La maladie provoquée par ce Coronavirus a été nommée COVID-19 par l’Organisation mondiale de la Santé - OMS.
        Depuis le 11 mars 2020, l’OMS qualifie la situation mondiale du COVID-19 de pandémie ; c’est-à-dire que l’épidémie touche désormais 137 pays sur une zone étendue
      </p>    
    </div>
    <div class="col-md-8 offset-md-2 txt-justify mt-5 "> 
      <h3 class="listCustom">Symptomes :</h3>
      <p>
        Les symptômes principaux sont la fièvre ou la sensation de fièvre et des signes de difficultés respiratoires de type toux ou essoufflement.
       </p>
      <h3 class="listCustom">Transmission :</h3>
      <p>
        La maladie se transmet par les postillons (éternuements, toux). On considère donc qu’un contact étroit avec une personne malade est nécessaire pour transmettre la maladie : même lieu de vie, contact direct à moins d’un mètre lors d’une toux, d’un éternuement ou une discussion en l’absence de mesures de protection.  Un des vecteurs privilégiés de la transmission du virus est le contact des mains non lavées.
      </p>
      <h3 class="listCustom">Incubation :</h3>
      <p>
        Le délai d’incubation, période entre la contamination et l’apparition des premiers symptômes.  Le délai d’incubation du coronavirus COVID-19 est de 3 à 5 jours en général, il peut toutefois s’étendre jusqu’à 14 jours. Pendant cette période, le sujet peut être contagieux : il peut être porteur du virus avant l’apparition des symptômes ou à l’apparition de signaux faibles.

      </p>
      
        <h3 class="listCustom">Source :</h3>
        <p>
            Les premières personnes à avoir contracté le virus s’étaient rendues au marché de Wuhan dans la Province de Hubei en Chine. Une maladie transmise par l’animal (zoonose) est donc privilégiée mais l’origine n’a pas été confirmée.
  
        </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class ="col-md-8 offset-md-2 w-100 traitOrangeFin txt-center">
      <h3 class="mt-5">En savoir plus</h3>
    </div>
  </div>
  