<nav class="navbar navbar-expand-md navbar-light border backWhite fixed-top" id='nav'[ngClass]="{'shadow':applyShadow}">
    <a class="pl-border">
      <img id ="logo" src="./assets/images/coronalogo.png" routerLink ='/home'>
      Coronavirus
    </a>
    <button type="button" class="navbar-toggler" (click)= "toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="navbar-collapse navbar-default" [ngClass]="{'collapse':navbarCollapsed}">
      <ul class="navbar-nav ml-auto bold pr-border" (click)= "toggleNavbar()">
        <li class="nav-item">
          <a class="nav-link" routerLink ='/home'>Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/about'>About</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">Contact</a>
        </li>  
      </ul>
    </div>
  </nav>