.txt-right {
    text-align: right;
  }

  a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;

  }

  @media only screen and (max-width: 700px)
{
    .pl-border { padding-left: 0px;  }
}

.navbar-toggler-icon {
  color : black;
}

.shadow {
  box-shadow: 0 2px 4px rgba(119, 119, 119, 0.15);
}
#logo {
    width: 60px;
    height: 60px;
}