.block {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    display: block;
}
.crd {
    width: 400px;
    height: 400px;
    
}




.board {
    margin-top : 100px;
}